@model AppleStore_MVC.Data.Cart

@{
	ViewData["Title"] = "Details";
}

<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	@* <h1 class="h3 mb-2 text-gray-800">Cart Detail</h1> *@
	@* <p class="mb-4">
		DataTables is a third party plugin that is used to generate the demo table below.
		For more information about DataTables, please visit the <a target="_blank"
																   href="https://datatables.net">official DataTables documentation</a>.
	</p> *@

	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3 d-flex justify-content-between align-items-center">
			<h6 class="m-0 font-weight-bold text-primary">Cart Detail</h6>
		</div>
		<div class="card-body">

			<dl class="row">
				<dt class="col-sm-2">
					Buy Date
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.buy_date)
				</dd>
				<dt class="col-sm-2">
					User Name
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.User_Of_Cart.UserId)
				</dd>
			</dl>
			<div>
				<a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
				<a asp-action="Index">Back to List</a>
			</div>
		</div>
	</div>
</div>