USE [master]
GO
/****** Object:  Database [AppleStore]    Script Date: 9/13/2025 9:57:13 PM ******/
CREATE DATABASE [AppleStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AppleStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AppleStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AppleStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AppleStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AppleStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AppleStore]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 9/13/2025 9:57:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[u_id] [int] NOT NULL,
	[buy_date] [date] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 9/13/2025 9:57:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[cart_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unitPrice] [float] NOT NULL,
	[pro_id] [int] NOT NULL,
	[CartItemId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CartItem] PRIMARY KEY CLUSTERED 
(
	[CartItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 9/13/2025 9:57:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [nvarchar](500) NOT NULL,
	[icon] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 9/13/2025 9:57:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Price] [int] NOT NULL,
	[imageLink] [nvarchar](500) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[SoldQuantity] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 9/13/2025 9:57:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nchar](100) NOT NULL,
	[isAdmin] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([id], [u_id], [buy_date]) VALUES (10, 10, CAST(N'2025-08-27' AS Date))
INSERT [dbo].[Cart] ([id], [u_id], [buy_date]) VALUES (11, 11, CAST(N'2025-08-28' AS Date))
INSERT [dbo].[Cart] ([id], [u_id], [buy_date]) VALUES (12, 12, CAST(N'2025-08-28' AS Date))
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItem] ON 

INSERT [dbo].[CartItem] ([cart_id], [quantity], [unitPrice], [pro_id], [CartItemId]) VALUES (10, 1, 31290000, 2, 3)
INSERT [dbo].[CartItem] ([cart_id], [quantity], [unitPrice], [pro_id], [CartItemId]) VALUES (11, 1, 19590000, 4, 4)
INSERT [dbo].[CartItem] ([cart_id], [quantity], [unitPrice], [pro_id], [CartItemId]) VALUES (12, 1, 15200000, 5, 5)
SET IDENTITY_INSERT [dbo].[CartItem] OFF
GO
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [icon]) VALUES (1, N'Mac', N'mac.svg')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [icon]) VALUES (2, N'Ipad', N'ipad.svg')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [icon]) VALUES (3, N'Iphone', N'iphone.svg')
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [Description], [Price], [imageLink], [CategoryID], [Amount], [SoldQuantity]) VALUES (2, N'MacBook Air 2025 15 inch', N'Sản phẩm chính hãng Apple mới 100% nguyên seal.Giá đã bao gồm VAT.Bảo hành 12 tháng
', 31290000, N'https://macone.vn/wp-content/uploads/2025/03/mba15-m4-skyblue-gallery1-202503-lon-1024x787.jpeg', 1, 20, 11)
INSERT [dbo].[Product] ([ProductID], [ProductName], [Description], [Price], [imageLink], [CategoryID], [Amount], [SoldQuantity]) VALUES (4, N'MacBook Air 2022 13 inch', N'Sản phẩm chính hãng Apple mới 100% nguyên seal.Giá đã bao gồm VAT.Bảo hành 12 tháng
', 19590000, N'https://macone.vn/wp-content/uploads/2022/06/macbook-air-midnight-gallery2-20220606_GEO_US-1024x786.jpeg', 1, 20, 10)
INSERT [dbo].[Product] ([ProductID], [ProductName], [Description], [Price], [imageLink], [CategoryID], [Amount], [SoldQuantity]) VALUES (5, N'MacBook Air 2020 13 inch', N'Sản phẩm chính hãng Apple mới 100% nguyên seal.Giá đã bao gồm VAT.Bảo hành 12 tháng
', 15200000, N'https://macone.vn/wp-content/uploads/2020/11/macbook-air-gold-m1-2020.jpeg', 1, 30, 9)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserName], [Password], [isAdmin]) VALUES (9, N'vuanhtuanadmin', N'123                                                                                                 ', 1)
INSERT [dbo].[User] ([UserID], [UserName], [Password], [isAdmin]) VALUES (10, N'vuanhtuanuser1', N'123                                                                                                 ', 0)
INSERT [dbo].[User] ([UserID], [UserName], [Password], [isAdmin]) VALUES (11, N'vuanhtuanuser2', N'123                                                                                                 ', 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_SoldQuantity]  DEFAULT ((0)) FOR [SoldQuantity]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Users] FOREIGN KEY([u_id])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Users]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[Cart] ([id])
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_CartItem_Cart]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Product] FOREIGN KEY([pro_id])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_CartItem_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
/****** Object:  StoredProcedure [dbo].[proc_ThemSanPhamVaoCartItem]    Script Date: 9/13/2025 9:57:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_ThemSanPhamVaoCartItem]
	@cart_id int,
	@quantity int,
	@pro_id int
AS
BEGIN
	DECLARE @unit_price int = 0
	Select @unit_price = Price from Product WHERE ProductID = @pro_id
	Insert Into CartItem (cart_id, quantity, unitPrice, pro_id) Values (@cart_id, @quantity, @unit_price, @pro_id)
END
GO
USE [master]
GO
